<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="['/home']">Prashant Foundation</a>
        </div>
        <div class="dropdown pull-right">Welcome 
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                {{ userName }}
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a [routerLink] = "['/change-password']">Change Password</a></li>
              <li><a (click)="logOutUser()">Log Out</a></li>
            </ul>
          </div> 
    </div>
  </div>
