<app-header></app-header>
<div class="login-form">
  <form [formGroup]="form">
    <h2 class="text-center">Change Password</h2>
    <div class="form-group">
      <input type="password" class="form-control" formControlName="OldPassword" placeholder="Old password" required="required">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" formControlName="NewPassword" placeholder="New password" required="required">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" formControlName="ConfirmPassword" placeholder="Confirm password" required="required">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block" (click)="changeUserPassword(this.form)">Change Password</button>
    </div>
    <div class="clearfix">
      <a [routerLink]="['/home']" class="pull-right">Cancel</a>
    </div>
  </form>
</div>
<app-footer></app-footer>